<div class="container mt-5">
    <nav class="navbar bg-dark navbar-expand-sm navbar-dark ">
        <a href="#" class="navbar-brand">
            <i class="fas fa-align-justify"></i>&nbsp;Categories
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-5">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        Book
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        Lecture Note
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        Laboratory Tool
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        clothes
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>