<main class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-4">
                    <img src="img/slider-1.jpeg" class="card-img-top img-thumbnail" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Post Title</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti explicabo asperiores
                            quae provident veritatis molestias laborum incidunt nemo laboriosam numquam.
                        </p>
                        <button type="button" class="btn btn-secondary">Read More</button>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on January 1, 2019
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Search</h5>
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary">
                                    Go!
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Categories</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Html</a></li>
                                    <li><a href="#">Angular</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li><a href="#">Javascript</a></li>
                                    <li><a href="#">Css</a></li>
                                    <li><a href="#">React</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Widget</h5>
                    </div>
                    <div class="card-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus libero necessitatibus
                            odit ipsum vitae consequatur.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>