{% extends "layout.html" %}

{% block title %} Home {% endblock  %}

{% block content %}
<main class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for item in products %}
                    <div class="card mb-4">
                        <img src="../static/img/{{item.3}}" class="card-img-top img-thumbnail" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{item.1}}</h4>
                            <p class="card-text">
                                {% for details in productdetails %}
                                    {% if details.3 == item.0 %}
                                        {{details.2}}
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <a href="/comment/{{item.0}}" class="btn btn-secondary" >Read More</a>
                            <p style="float: right;"> {{item.2}} <i class="fas fa-dollar-sign"></i></p>
                        </div>
                        {% for details in productdetails %}
                            {% if details.3 == item.0 %}
                                <div class="card-footer text-muted">
                                    {{details.1}}  <p class="" style="float: right;"> 
                                    {% for username in user %}
                                        {% if item.5 == username.0 %}
                                            {{username.2}}
                                        {% endif %}
                                    {% endfor %} 
                                    </p>        
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Search</h5>
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary">
                                    Go!
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Categories</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Html</a></li>
                                    <li><a href="#">Angular</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li><a href="#">Javascript</a></li>
                                    <li><a href="#">Css</a></li>
                                    <li><a href="#">React</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Widget</h5>
                    </div>
                    <div class="card-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus libero necessitatibus
                            odit ipsum vitae consequatur.
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>
<footer class="py-3 bg-dark text-white text-center ">
    Copyright © 2020 <br>
    Designed by Mert Kaan İrtegün
</footer>
{% endblock  %}