<div class="jumbotron bg-dark text-white">
    <div class="container">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">
                Welcome to BookSharing 
            </h1>
            <p class="lead my-3">
                It is a platform for students to help each other. <br>
                Students studying at ITU can benefit from site opportunities for free registration.
            </p>
            <p class="lead mb-0">
                <a href="/sign_up" class="btn btn-outline-secondary text-white font-weight-bold">Sign Up for Free</a>
            </p>
        </div>
    </div>
</div>